main{
  background-color: red;
}

section{
  background-color: cornflowerblue;
}

#section1{
  background-color: green;
}

#section2{
  background-color: yellow;
}

#section3{
  background-color: lightgreen;
}
