@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P', cursive;
}

main{
  max-width: 960px;
  margin: 0 auto;
  background-color: #cccccc;
}
